.canva {

    border: 10px solid #FFA500;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.restart {

height: 50px;
width: 150px;

}

#image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    opacity: 0.5;
}

